@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --h2-question-font-family: "Livvic", Helvetica;
  --h2-question-font-size: 16px;
  --h2-question-font-style: normal;
  --h2-question-font-weight: 600;
  --h2-question-letter-spacing: 0.32px;
  --h2-question-line-height: normal;
  --m3syslighton-surface: rgba(29, 27, 32, 1);
  --text-main-font-family: "Fira Sans", Helvetica;
  --text-main-font-size: 14px;
  --text-main-font-style: normal;
  --text-main-font-weight: 400;
  --text-main-letter-spacing: 0px;
  --text-main-line-height: 16px;
  --text-medium-font-family: "Fira Sans", Helvetica;
  --text-medium-font-size: 12px;
  --text-medium-font-style: normal;
  --text-medium-font-weight: 600;
  --text-medium-letter-spacing: 0px;
  --text-medium-line-height: normal;
  --text-name-font-family: "Fira Sans", Helvetica;
  --text-name-font-size: 16px;
  --text-name-font-style: normal;
  --text-name-font-weight: 500;
  --text-name-letter-spacing: 0px;
  --text-name-line-height: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
